body {
  margin: 0;
  font-family: sans-serif;
  background: #f6f3f8;
}

.dashboard { 
  display: flex;
  min-height: 100vh;
  
}

.sidebar {
  width: 190px;
  min-width: 160px;
  max-width: 220px;
  background: linear-gradient(180deg, #6a2c91, #3b1347);
  color: white;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.logo {
  height: 60px;

  margin-left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
}

.logo img {
  width: 120%;
}

.topbar h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #3b1347;

  white-space: nowrap;
}

.menu {
  margin-top: 15px;
  flex: 1;
  list-style: none;
  padding: 0px;
  font-size: 20px;
}

.menu li {
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 12px;
}

.Wlink {
  padding: 12px 16px;
}

.menu li:hover {
  padding: -100px 0;
  background: rgba(255, 255, 255, 0.15);
}

.menu .active {
  background: rgba(255, 255, 255, 0.25);
}

.content {
  padding: 20px;
  /* move spacing here instead */
}

.main {
  margin-left: calc(220px + 20px);
  padding: 20px;
  background: #f6f3f8;

  flex: 1;
  margin-left: 230px;
  height: 100vh;
  overflow-y: auto;

  padding: 0;
  overflow: auto;
}

.topbar {
  display: flex;

  align-items: center;

  justify-content: space-between;
  padding: 0 20px;

  height: 60px;

  background-color: #d7bfde;
}

.search input {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  width: 250px;
}

.user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* push user to right automatically */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.user img {
  border-radius: 50%;
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* CHARTS */

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 25px;
}

.chart-box {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.chart-box h3 {
  margin-top: 0px;
}

.emptyy-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  max-height: 200px;
  text-align: center;
}

.emptyy-state img {
  max-width: 90%;
  height: auto;
  opacity: 0.85;
  margin-bottom: 15px;
}

.emptyy-state h3 {
  font-size: 16px;
  color: #666;
  margin: 0;
}

/* BOTTOM */

.bottom {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.aa {
  margin: 0;
  font-size: 14px;
  color: #cccccc;
}

.card h2 {
  margin: 10px 0;
  font-size: 26px;
  color: #3b1347;
  padding: 10px 0;
}

.positive {
  color: green;
  font-size: 14px;
}

.negative {
  color: red;
  font-size: 14px;
}

/* Savings progress bar */

.progress {
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar {
  height: 8px;
  width: 60%;
  background: #6a2c91;
  border-radius: 10px;
}

.chart-box h3 {
  margin-bottom: 20px;
  color: #3b1347;
}

.pie-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pie-labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pie-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #3b1347;
}

.color-box {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.transactions,
.budget,
.bills {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*TRANSACTION*/

.transactions {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.transactions h3 {
  margin-top: 0;
  margin-bottom: -5px;
  padding: 0 0 12px 0;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.transaction-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.transaction-icon {
  width: 36px;
  height: 36px;
  background: #f2e9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.transaction-left h4 {
  margin: 0;
  font-size: 14px;
}

.transaction-left p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.transaction-right {
  text-align: right;
}

.date {
  display: block;
  font-size: 12px;
  color: #777;
}

.income {
  color: green;
}

.expense {
  color: #ff4d4d;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  min-height: 250px;
  text-align: center;
}

.empty-state img {
  width: 560px;
  max-width: 100%;
  height: auto;
  opacity: 0.85;
  margin-bottom: 15px;
}

.empty-state h3 {
  font-size: 16px;
  color: #666;
  margin: 0;
}

/*BUDGET*/

.budget {
  background: white;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.budget h3 {
  margin-top: 0;
  margin-bottom: -4px;
  padding: 0 0 12px 0;
}

.budget-item {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.budget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.budget-bar {
  height: 8px;
  background: #eee;
  border-radius: 10px;
}

.budget-fill {
  height: 8px;
  background: #7b3fe4;
  border-radius: 10px;
}

/*BILLS*/

.bills {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bills h3 {
  margin-top: 0;
  margin-bottom: -5px;
  padding: 0 0 12px 0;
}

.bill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.bill-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bill-icon {
  width: 36px;
  height: 36px;
  background: #f2e9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.bill-left h4 {
  margin: 0;
  font-size: 14px;
}

.bill-left p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.bill-right {
  font-weight: bold;
  color: #ff4d4d;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #e3f2fd;
  /* light blue */
  color: #1565c0;
  /* dark blue text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  flex-shrink: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

.logout-btn {
  width: 100%;
  padding: 8px 12px;

  background: #f40009;
  /* red */
  color: white;

  border: none;
  border-radius: 8px;
  /* curved borders */

  font-size: 14px;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Hover effect */
.logout-btn:hover {
  background: #cc0000;
}

/* Click effect */
.logout-btn:active {
  transform: scale(0.97);
}

/* ================= USER DROPDOWN ================= */

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  position: relative;
}

.dropdown-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  color: #3b1347;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  width: 170px;
  background: white;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px 12px;
  border: none;
  background: none;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #3b1347;
}

.dropdown-menu button:hover {
  background: #faf7fd;
}

/* ================= PROFILE MODAL ================= */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.profile-modal {
  position: relative;
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pie-item{
  gap:5px;
  font-size:11px;
}

.profile-modal h2 {
  margin: 0;
  text-align: center;
  color: #3b1347;
  font-size: 22px;
  font-weight: 600;
}

.profile-modal input {
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.profile-modal input:focus {
  border-color: #3b1347;
}

/* save button */
.save-btn {
  background: #3b1347;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.menu-btn {
  display: none;
}
/* 

.save-btn:hover {
  background: #5a1a6b;
}

/* close button */
.profile-close-btn {
   
  position: absolute;
  top: 14px;
  right: 14px;

  width: 28px !important;
  height: 28px !important;
  padding: 0 !important;
  margin: 0 !important;

  border: none !important;
  background: transparent !important;
  box-shadow: none !important;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #fffdff !important;
}



/* MOBILE DRAWER */
@media (max-width: 768px) {

  .sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  height: 100vh;
  width: 230px;
  background: #fff;
  z-index: 1000;
  transition: transform 0.3s ease;
  overflow: hidden; /* ✅ important */
}

.sidebar-wrapper.open {
  transform: translateX(0);
}

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 999;
  }

  .menu-btn {
    display: block;
    font-size: 22px;
    background: none;
    border: none;
    margin-right: 10px;
  }
}

/*================= MOBILE ================= */

@media (max-width: 768px) {
  .profile-modal {
    width: 300px;
    padding: 20px;
  }

  .dropdown-menu {
    right: -5px;
  }
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }


  

  .main {
    margin-left: 0;
    margin-right:0;
    
  }

  .topbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: auto;
    padding: 10px;
  }

  .search input {
    width: 100%; /* full width search */
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .charts {
    grid-template-columns: 1fr;
  }

  .bottom {
    grid-template-columns: 1fr;
  }

  .logout-btn {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 10px;
    margin: 2px;
    white-space: nowrap;
    margin-bottom: 15px;
  }
  

  
  .pie-container{
    justify-content: center;
  }
}
